<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ModelTaxi" connectionString="Data Source=ZEN\SQLEXPRESS01;Initial Catalog=Taxi;Integrated Security=True;"
 providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceTaxiSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64007/WebServiceTaxi.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceTaxiSoap"
                contract="ServiceReference1.WebServiceTaxiSoap" name="WebServiceTaxiSoap" />
        </client>
    </system.serviceModel>
</configuration>